/* generic.css *
/* This file provides generic formatting for partner web-pages, currently offer and recipe buttons */

/* Offer Format */

.zl-offer-link a.butn-link {
  background-image: url('http://www.zlcdn.com/images/minibox/add-offer-rgb.png');
  background-repeat: no-repeat;
  display: block;
  height: 27px;
  width: 118px;
  cursor:pointer;
}

table.zl-small-offer a.butn-link {
  background-image: url('http://www.zlcdn.com/images/minibox/add_to_list_small.png');
  background-repeat: no-repeat;
  display: block;
  height: 22px;
  width: 25px;
  cursor:pointer;
}

td.zl-small-offer-link {
  vertical-align: top;
}

.zl-spacer {
  display: none;
}

/* WordPress Styles (assumes #content container) */
#content table.zl-small-offer {
  border: none;
  width: inherit;
  margin-bottom: 20px;
}

#content table.zl-small-offer td {
  border: none;
  padding: 0 5px 0 0;
}

/* Recipe Format */

.zl-recipe-link a.butn-link {
/*  background-image: url('http://www.zlcdn.com/images/minibox/add-recipe-box-rgb.png'); */
  background-image: url('http://ab-assets.ziplist.com.s3.amazonaws.com/add-recipe-box-rgb.png');
  background-repeat: no-repeat;
  display: block;
  height: 27px;
  width: 118px;
  cursor:pointer;
}

.zl-recipe-link a.small-butn-link {
  background-image: url('http://ab-assets.ziplist.com.s3.amazonaws.com/add-recipe-box-small.png');
  background-repeat: no-repeat;
  display: block;
  height: 20px;
  width: 91px;
  cursor:pointer;
}

.zl-offer-link a.butn-link span,
.zl-recipe-link a.butn-link span,
.zl-recipe-link a.small-butn-link span {
  display: none;
}
