<p id='recipe-author'>
    <label for="author">{% trans "Author:" from "zip-recipes" %}</label>
  <span style="display:block; padding: 5px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 1px 1px 1px 1px #ccc;">
    <img style="vertical-align: middle;" src="{{ warning_icon_url }}" />
    <span style="color: rgb(239, 108, 0); font-size: 13px; line-height: 25px">Google recommends you set an author. This feature is available in the premium version. <a style="color: rgb(239, 108, 0);" href="https://www.ziprecipes.net/promo/author_missing" target="_blank">Click here to learn more.</a></span>
  </span>
</p>
