<div class="container">
    <h1>Zip Recipes Upgrade</h1>
    <p>It’s fully automated. All it takes is a few clicks!</p>
    <div class="upgrade-wrapper">
        <section id="step-1">
            <div class="alert">
                <h4>Caution:</h4>
                <p>The Upgrade process will modify all posts and pages that have recipes old shortcode.
                    It replaces the old shortcode with new shortcode. This process is NOT reversable.
                    Make sure you have a working backup of your website.</p>
            </div>
            <div class="checkbox">
                <label><input id="accept-upgrade" type="checkbox" autocomplete="off">I have a working backup of my website.</label>
            </div>
            <button type="button" name="action_upgrade" class="button button-primary">Upgrade Now</button>
        </section>
        <section id="step-2" >
            <div class="progress" >
                <p>Process Started ...</p>
                <p> In-progress... </p>
            </div>           
            <div class="steps-success" style="display: none;">
                <p>Congratulations! Your recipes have been updated.</p>
            </div>           
        </section>
    </div>
</div>
